
<select onchange={{action "setSelection" value="target.value"}}>
  <option disabled selected>Language</option>
  <option value="javascript">javascript</option>
  <option value="go">go</option>
</select>

<select onchange={{action "setTheme" value="target.value"}}>
  <option disabled selected>Theme</option>
  <option value="solarized">solarized</option>
  <option value="twilight">twilight</option>
  <option value="3024-day">3024-day</option>
</select>

{{ivy-codemirror value=this.model.code valueUpdated=(action (mut this.model.code)) options=(hash theme=this.selectedTheme lineNumbers=true mode=this.selectedOption)}}
<button {{action "logCode"}}>Submit</button>
